@using ProyectoCursos.Client.Sesion
@inherits LayoutComponentBase
@inject IUsuarioAutenticadoService usuarioAutenticadoService
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (usuarioAutenticadoService.Usuario != null)
        {
            <div class="top-row px-4">
                <a href="CarritoCompra" class="mr-2"><i class="oi oi-cart"></i> Carrito</a>
                <span>¡Bienvenido, @usuarioAutenticadoService.Usuario.NombreUsuario!</span>
                <button @onclick="CerrarSesion" class="btn btn-link">Cerrar Sesión</button>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task CerrarSesion()
    {
        usuarioAutenticadoService.Usuario = null;
        await jsRuntime.InvokeVoidAsync("localStorage.removeItem", "user");
        NavigationManager.NavigateTo("/"); 
    }
}