@page "/Menu"

<link rel="stylesheet" href="/css/MenuStyle.css" />




<nav class="navigation-menu js-nav-menu">
    <div class="navigation-menu__toggle js-nav-menu-toggle">
        <span class="navigation-menu__bars"></span>
    </div>
    <ul class="menu-list">
        <li class="menu-list__item">Menu Item 1</li>
        <li class="menu-list__item">Menu Item 2</li>
        <li class="menu-list__item">Menu Item 3</li>
        <li class="menu-list__item">Menu Item 4</li>
        <li class="menu-list__item">Menu Item 5</li>
    </ul>
</nav>

@code {

}
